body {
  margin: 0;
  font-family: sans-serif;
  background: url(/img/bg.jpg);
  background-size: 100%;
  background-color: aliceblue;
  min-height: 100%;
}

form{
  padding: 20px;
  margin-top: 60px;
}

form button, form h5{
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materailize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
